.contenedor{
    font-size: 30px;
    position: relative;
    top: 100px;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 50px;
}

.Linea{   
    position: absolute;
    left: calc(50% - 350px);
    top: 45px;
    width: 700px;
    height: 10px;  
    background-color: #003535;
}
.Linea--Abajo{
    top: -50px;
}

.textInicio{
    position: relative;
    top: -40px;
    color: rgb(0, 53, 53);
}

/*Campos de texto */
.campoUser{
background-color: rgb(255, 255, 255);
position: absolute;
top: 80px;
display: flex;
align-items: center;
width: 400px;
left: calc(50% - 200px);
border: solid;
border-radius: 10px;
border-color: #003535;
border-top-width: 3px;
border-right-width: 3px;
border-bottom-width: 3px;
border-left-width: 3px;
}

.Campotext{
    font-size: 25px;
    border: 0px;
    outline: none;
    width: 350px;
    height: 30px;    
}

.Icon_user{
    top: -10px;
    float: left;
}

.campoUser--config{
    position: absolute;
    top: 140px;
}


.button{
    font-size: 20px;
    background-color: #003535;
    color: white;
    height: 40px;
    width: 300px;
    border-radius: 20px;
    position: absolute;
    left: calc(50% - 150px);
    top: 200px;
    border: 0px;
}








a {
    font-size: 20px;
    color: #003535;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}




/*
.textInicio{
    height: 75px;
    background-color: rgb(0,53, 53);

    justify-content: center;
    align-items: center;
}

.textInicio--config{

    height: 60px;
    font-size: 50px;
    color: rgb(0,53, 53);
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: center;
    align-items: center;
}

*/