.contenedor{
    font-size: 30px;
    position: relative;
    top: 100px;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 50px;
}

.Linea{   
    position: absolute;
    left: calc(50% - 350px);
    top: 40px;
    width: 700px;
    height: 10px;  
    background-color: #003535;
}
.Linea--Abajo{
    top: -50px;
}

.textInicio{
    position: absolute;
    left: calc(50% - 350px);
    width: 700px;
    top: -80px;
    color: rgb(0, 53, 53);

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

.textInicio:hover {
    cursor: none;
    background-color: #003535;
    color: rgb(255, 255, 255);
    /* box-shadow: 0 12px 16px 0 rgba(9, 70, 22, 0.24), 0 17px 50px 0 rgba(10, 117, 6, 0.411);*/
}

/*Campos de texto */
.campoUser{
background-color: rgb(255, 255, 255);
position: absolute;
top: 80px;
display: flex;
align-items: center;
width: 400px;
left: calc(50% - 200px);
border: solid;
border-radius: 10px;
border-color: #003535;
border-top-width: 3px;
border-right-width: 3px;
border-bottom-width: 3px;
border-left-width: 3px;
}

.Campotext{
    font-size: 25px;
    border: 0px;
    outline: none;
    width: 350px;
    height: 30px;    
}

.Icon_user{
    top: -10px;
    float: left;
}

.campoUser--config{
    position: absolute;
    top: 140px;
}


.button {
    position: absolute;
    left: calc(50% - 175px);
    width: 300px;
    top: 200px;
    background-color: #003535; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;

    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;

    }

.button:hover {
    cursor: pointer;
    background-color: white;
    color: #003535;
    border: 3px solid #003535;
    /* cursor: grab; color: #4CAF50; box-shadow: 0 12px 16px 0 rgba(9, 70, 22, 0.24), 0 17px 50px 0 rgba(10, 117, 6, 0.411);*/
}

a {
    position: absolute;
    left: calc(50% - 100px);
    top: 255px;
    font-size: 20px;
    color: #003535;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}
